{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list instance_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">Projects</a>
&rsaquo; IP Address List
</div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <h1>IP Addresses</h1>
    <div class="module" id="changelist">
      {% if addresses %}
      <div class="results">
      <table id="result_list">
        <thead>
          <tr>
          <th scope="col">
           <div class="text"><span>IP Address</span></div>
           <div class="clear"></div>
          </th>
          <th scope="col">
           <div class="text"><span>Instance ID</span></div>
           <div class="clear"></div>
          </th>
          <th scope="col">
           <div class="text"><span>Name</span></div>
           <div class="clear"></div>
          </th>
          </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>{{ address.public_ip }}</td>
            <td>{% if address.instance_id %}
                  {{ address.instance_id }}</td>
                {% else %}
                  <form method="post" action="./associate/">
                    <select name="select-ip">
                    {% for instance in instances %}
                      <option value="{{ instance.id }}">{% get_name_tag instance %}</option>
                    {% endfor %}
                    </select>
                  </form>
                {% endif %}
            <td>{% get_name_tag address.instance_id %}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        {% endif %}
    </div>
  </div>
{% endblock %}
